//
// Copyright (c) 2026, Samuel Majtan
//
// SPDX-License-Identifier: GPL-3.0
//

#include "Base.xcconfig"

ENV_NAME = Development
PRODUCT_NAME = $(APP_NAME) $(ENV_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).$(ENV_NAME)
VALIDATE_PRODUCT = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon$(ENV_NAME)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
GCC_OPTIMIZATION_LEVEL = 0
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
